body {
  margin: 0;
  font-family: 'Noto Sans', 'Roboto', 'Arial', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../public/images/bg-light.png);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
